@model IEnumerable<OnlineShop.Data.Models.Category>

@if (Model.Any())
{
	<ul class="list-group list-group-flush">
		<li class="list-group-item">
			<a asp-action="Index" asp-route-subcategoryId="0">Show All</a>
		</li>
		@foreach (var category in Model)
		{
			<li class="list-group-item">
				@category.Title: @category.Subcategories.Count()
			</li>
			if (category.Subcategories.Any())
			{
				<li class="list-group-item ml-	1">
					<ul class="list-group list-group-flush">
						@foreach (var subcategory in category.Subcategories)
						{
							<li class="list-group-item small">
								<a asp-action="Index" asp-route-subcategoryId="@subcategory.Id">@subcategory.Title</a>
							</li>
						}
					</ul>
				</li>
			}
		}
	</ul>
}